<nav id="mobile-menu" class="mobile-menu hide-for-xlarge">
    <div class="mobile-menu-wrapper">
        <a href="/personal/" class="button mobile-menu-profile relative">
            <svg class="icon">
                <use xlink:href="#svg-icon-profile" />
            </svg>
            Личный кабинет
        </a>
        <div class="is-drilldown">
            <!--noindex-->
            <ul class="vertical menu mobile-menu-main" data-drilldown data-wrapper data-back-button="<li class='js-drilldown-back'><a href='javascript:;'>Вернуться назад</a></li>">
                <li><a href="/catalog/skidki/" rel="nofollow">Скидки</a></li>
                <li><a href="/catalog/spetspredlozheniya/" rel="nofollow">Спецпредложения</a></li>
            </ul>
            <!--/noindex-->
            <ul class="vertical menu" data-drilldown data-wrapper data-back-button="<li class='js-drilldown-back'><a href='javascript:;'>Вернуться назад</a></li>">
                <li>
                    <a href="@Url.Action("Index", "AboutUs")">О нас</a>
                    <ul class="menu vertical">
                        <li><a href="@Url.Action("Index", "News")">Новости</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">Контакты</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="/shop/" rel="nofollow">Интернет-магазин</a>
                    <ul class="menu vertical">
                        <li class="active"><a href="@Url.Action("Index", "Payment")">Оплата заказа</a></li>
                        <li><a href="/shop/delivery/" rel="nofollow">Доставка товара</a></li>
                        <li><a href="@Url.Action("Index", "Return")">Возврат и обмен</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Info")">Информация</a>
                    <ul class="menu vertical">
                        <li><a href="@Url.Action("Index", "Supplier")">Поставщикам</a></li>
                        <li><a href="#" rel="nofollow">Гарантия</a></li>
                    </ul>
                </li>
            </ul>
            <form action="/catalog/search/" class="mobile-menu-search relative">
                <button type="submit">
                    <svg class="icon">
                        <use xlink:href="#svg-icon-search" />
                    </svg>
                </button>
                <input type="text" placeholder="Поиск по каталогу" name="q">
            </form>
        </div>
    </div>
</nav>
<div id="page">
    <div id="bx_custom_menu">
    </div>

    <section class="inner">
        <div class="advanced-container-medium">
            <nav>
                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "Shop")" title="Интернет магазин" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Интернет магазин</span></a><meta itemprop="position" content="2"></li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Оплата заказа</span></span><meta itemprop="position" content="3"></li>
                </ul>
            </nav>
            <article class="inner-container">
                <h1>Оплата заказа</h1>
                <nav class="inner-menu columns show-for-xlarge">
                    <ul class="menu vertical">
                        <li class="active"><a href="@Url.Action("Index", "Payment")">Оплата заказа</a></li>
                        <li><a href="@Url.Action("Index", "Delivery")">Доставка товара</a></li>
                        <li><a href="@Url.Action("Index", "Return")">Возврат и обмен</a></li>
                    </ul>
                </nav>
                <div class="inner-content columns">
                    <p style="text-align: center;">
                        <b>Способы оплаты:</b>
                    </p>
                    <p>
                        Оплатить заказ можно несколькими способами:
                    </p>
                    <p>
                        1. Оплата курьеру по системе "Мобильный платеж".
                    </p>
                    <p>
                        2. Оплата курьеру наличными при получении товара.
                    </p>
                    <p>
                        3. Оплата курьеру картой через терминал.
                    </p>
                </div>
            </article>
        </div>
    </section>
</div>