@using Juconda.ViewModels;
@model List<BasketItemViewModel>;

@{
    var total = Model.Sum(_ => _.Count * _.Product.Price);
}

<section class="cart">
    <div class="inner-bg">
        <div class="advanced-container-medium">
            <nav class="show-for-large">
                <ul class="breadcrumbs cart">
                    <li class="active"><div class="float-right"><span>1</span> Корзина</div></li>
                    <li><div class="float-right"><span>2</span> Контакты и доставка</div></li>
                    <li><div class="float-right"><span>3</span> Оплата</div></li>
                </ul>
            </nav>
            <article class="inner-container cart-container">

                @if (Model.Any())
                {
                    <form method="post" action="/personal/cart/" name="basket_form" id="basket_form" data-ajax="/personal/cart/?load=Y">
                        <div id="basket_items">
                            <div class="text-center">
                                <div class="cart-caption">
                                    <p>Корзина</p>
                                    <a class="clear_basket" onclick="removeAllItems()">Очистить корзину</a>
                                </div>
                                <div class="cart-caption-desc product-price">2 товара на @total р.</div>
                            </div>

                            @foreach (var basketItem in Model)
                            {
                                <div class="callout cart-product-item inline-block-container">
                                    <div class="inline-block-item vertical-middle cart-product-item-preview">
                                        <img src="@basketItem?.Product?.Image" alt="">
                                    </div>
                                    <div class="inline-block-item vertical-middle cart-product-item-info">
                                        <div class="inline-block-container">
                                            <div class="inline-block-item vertical-middle cart-product-item-desc">
                                                <a href="/catalog/spetspredlozheniya/pomidory_1kg_.html" class="cart-product-item-name">
                                                    @basketItem?.Product?.Name @basketItem?.Product?.Count кг
                                                </a>
                                                <a href="#" class="button transparent add2liked">
                                                    <svg class="icon">
                                                        <use xlink:href="#svg-icon-liked"></use>
                                                    </svg>
                                                    <span>В избранное</span>
                                                </a>
                                            </div>
                                            <div class="inline-block-item vertical-middle cart-product-item-price medium-up-2 large-up-3">
                                                <div class="column">
                                                    <div class="product-count">
                                                        <div class="product-info-caption">Количество</div>
                                                        <div class="input-group">
                                                            <div class="input-group-button">
                                                                <button class="button decrement" type="button" onclick="decreaseCount(count_@basketItem.Id)">-</button>
                                                            </div>
                                                            <input class="input-group-field" type="number" name="count_@basketItem.Id" min="1" value="1">
                                                            <div class="input-group-button">
                                                                <button class="button increment" onclick="increaseCount(count_@basketItem.Id)" type="button">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column float-right">
                                                    <div class="product-price">
                                                        <div class="product-info-caption">Итого:</div>
                                                        <div class="main" id="total_price_27268">@(basketItem?.Product?.Price * @basketItem?.Product?.Count) р.</div>
                                                    </div>
                                                </div>
                                                <div class="column show-for-large">
                                                    <div class="product-price">
                                                        <div class="product-info-caption">Цена за штуку</div>
                                                        <div class="main" id="current_price_27268">@basketItem?.Product?.Price р.</div>
                                                        @*<div class="old" id="old_price_27268" data-old-price="0"></div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="close-button" type="button" onclick="removeItem(@basketItem.Id)">
                                        <span aria-hidden="true">+</span>
                                    </button>
                                </div>
                            }

                            <div class="cart-product-footer row large-up-2">
                                <div class="column" id="coupons_block">
                                    <div class="inline-block-container cart-product-footer-promo bx_ordercart_coupon ">
                                        <input type="text" id="coupon" name="COUPON" value="" data-coupon="" placeholder="Промо-код" class="inline-block-item">
                                        <button type="submit" class="button small secondary inline-block-item" onclick="enterCoupon(); return false;">Применить</button>
                                    </div>
                                </div>
                                <div class="column cart-product-footer-amount price">
                                    Итого:
                                    <span class="footer-amount-price">@total р.</span>
                                    Без учета стоимости доставки / (минимальная сумма заказа: 250 рублей)
                                </div>
                            </div>
                            <div class="cart-footer">
                                <a href="javascript:;" onclick="checkOut();" class="button">Оформить заказ</a>
                                <a href="#buy-to-click" class="button secondary go2buy">Купить в 1 клик</a>
                                <input type="hidden" name="cart" value="Ilki" />
                                <input type="hidden" name="props" value="W10=" />
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <input type="hidden" name="BasketOrder" value="BasketOrder" />
                    </form>
                }
                else
                {
                    <div id="empty_basket">
                        <div class="text-center">
                            <div class="cart-caption">Корзина</div>
                        </div>
                        <div class="cart-content cart-empty text-center inline-block-container">
                            <div class="cart-empty-icon inline-block-item vertical-middle">
                                <svg class="icon">
                                    <use xlink:href="#svg-icon-cart" />
                                </svg>
                            </div>
                            <div class="inline-block-item vertical-middle">Ваша корзина пуста</div>
                        </div>
                    </div>
                }

            </article>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //$(function () {
    //    initPage();
    //});

    $('#loader').fadeIn(250);
    function initPage() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "ShoppingCart")',
            success: function (data) {
                document.querySelector('html').innerHTML = data;
                $('#loader').fadeOut(250);
            }
        });
    }

    function removeItem(basketItemId) {
        $('#loader').fadeIn(250);
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveFromCart", "ShoppingCart")',
            data: { basketItemId: Number(basketItemId) },
            success: function (data) {
                $('#loader').fadeOut(250);
                getTotal();
            }
        });
    }

    function removeAllItems() {
        $('#loader').fadeIn(250);
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveAllBasketItems", "ShoppingCart")',
            success: function (data) {
                $('#loader').fadeOut(250);
                initPage();
            }
        });
    }

    function decreaseCount(elem) {
        elem.value = Number(elem.value) - 1;
        if (Number(elem.value) < 1)
            elem.value = 1;
    }

    function increaseCount(elem) {
        elem.value = Number(elem.value) + 1;
        if (Number(elem.value) < 1)
            elem.value = 1;
    }
</script>