<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "AboutUs")" title="О нас" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">О нас</span></a><meta itemprop="position" content="2"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Новости</span></span><meta itemprop="position" content="3"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1> Новости</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li class="active"><a href="@Url.Action("Index", "News")">Новости</a></li>
                    <li><a href="@Url.Action("Index", "Contact")">Контакты</a></li>
                    <li><a href="@Url.Action("Index", "Document")">Документы</a></li>
                    <li><a href="#">Договор оферты</a></li>
                    <li><a href="@Url.Action("Index", "Privacy")">Политика конфиденциальности</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">


                <nav class="inner-menu-filter">
                    <ul class="menu">
                        <li class="float-left active"><a href="/company/news/" data-ajax="/company/news/?load=Y">Все</a></li>
                        <li class="float-left"><a href="/company/news/?YEAR=2022" data-ajax="/company/news/?YEAR=2022&load=Y">2022 год</a></li>
                        <li class="float-left"><a href="/company/news/?YEAR=2021" data-ajax="/company/news/?YEAR=2021&load=Y">2021 год</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
                <ul class="inner-content-list" id="news-items">
                    <li id="bx_3218110189_16602" class="table-container">
                        <div class="inner-content-preview for-news table-item">
                            <a href="/company/news/16602.html"><img src="images/4d45016bc10824e67d2b24bb88a9ca95.jpg"></a>
                        </div>
                        <div class="inner-content-info table-item">
                            <span class="label">24.04.2022</span>
                            <a href="/company/news/16602.html" class="name">Пышные сырники из творога с мукой на сковороде</a>
                            <div class="show-for-large">Пышные и воздушные домашние сырники на завтрак! Сырники - это прекрасный вариант вкусного и сытного завтрака или полдника. Приготовьте нежные и пышные домашние сырники для своей семьи! Подавайте их со сметаной, сгущенкой или вареньем, к чаю, молоку или соку. Очень вкусно и полезно!</div>
                        </div>
                    </li>
                    <li id="bx_3218110189_16601" class="table-container">
                        <div class="inner-content-preview for-news table-item">
                            <a href="/company/news/16601.html"><img src="images/8a601327720a6aafe7508dd2d2459709.jpg"></a>
                        </div>
                        <div class="inner-content-info table-item">
                            <span class="label">24.04.2022</span>
                            <a href="/company/news/16601.html" class="name">Салат из капусты с зеленым горошком</a>
                            <div class="show-for-large">Вкусный и полезный, из простых продуктов, без майонеза! Салат из капусты с зеленым горошком настолько простой, легкий и вкусный, что придется кстати к любому столу. Его можно подавать на завтрак, на ужин, на праздничный стол. Он хорош сам по себе и в сочетании с мясными блюдами.</div>
                        </div>
                    </li>
                    <li id="bx_3218110189_16600" class="table-container">
                        <div class="inner-content-preview for-news table-item">
                            <a href="/company/news/16600.html"><img src="images/dba0c00147b378ffb5e85b8e989e0f6c.jpg"></a>
                        </div>
                        <div class="inner-content-info table-item">
                            <span class="label">24.04.2022</span>
                            <a href="/company/news/16600.html" class="name">Пышный пирог на кефире в духовке</a>
                            <div class="show-for-large">Из обычных продуктов, быстрый и простой, очень вкусный! Пышный пирог на кефире в духовке — еще один рецепт вкуснейшей выпечки с яблоками, приготовление которого не отнимет у вас много времени. За счет добавления кефира тесто получается очень воздушным, а штрейзель сверху запекается в хрустящую корочку.</div>
                        </div>
                    </li>
                    <li id="bx_3218110189_16338" class="table-container">
                        <div class="inner-content-preview for-news table-item">
                            <a href="/company/news/16338.html"><img src="images/2fc5fa6cac7a778c15f7b1b61a15cb77.jpg"></a>
                        </div>
                        <div class="inner-content-info table-item">
                            <span class="label">21.12.2021</span>
                            <a href="/company/news/16338.html" class="name">Килограмм за раз: что произойдёт, если есть слишком много мандаринов</a>
                            <div class="show-for-large">Даже самый полезный продукт может оказаться вредным в чрезмерных количествах.</div>
                        </div>
                    </li>
                    <li id="bx_3218110189_16337" class="table-container">
                        <div class="inner-content-preview for-news table-item">
                            <a href="/company/news/16337.html"><img src="images/07e173a6fbe8ca7a45a976e02aa21cf2.jpg"></a>
                        </div>
                        <div class="inner-content-info table-item">
                            <span class="label">21.12.2021</span>
                            <a href="/company/news/16337.html" class="name">Салат Елочка на Новый Год</a>
                            <div class="show-for-large">Салат в виде елочки - символа Нового года и Рождества.</div>
                        </div>
                    </li>
                </ul>
                <a href="javascript:;" class="load-more float-center text-center" onclick="getNewsItems(this, 'news-items', false)" data-ajax="/company/news/?PAGEN_1=2&load=Y">
                    <svg class="icon">
                        <use xlink:href="#svg-icon-load-more" />
                    </svg>
                    Показать еще
                </a>
            </div>
        </article>
    </div>
</section>