@using Juconda.Areas.admin.ViewModels.Products;
@using Juconda.ViewModels;
@model Juconda.Areas.admin.ViewModels.Pagination.BasePage<ProductModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Наименование категории</th>
            <th scope="col">Категории</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.Objects)
        {
            <tr>
                <td>
                    <a asp-action="Update" asp-route-id="@product.Id">
                        @product.Name
                    </a>
                </td>
                <td>
                    @foreach (var category in product.CategoryNames)
                    {
                        
                    }
                    @foreach (var category in product.CategoryNames.Select((value, index) => (index, value)))
                    {
                         @category.value@(category.index + 1 == product.CategoryNames.Count ? "" : ", ")
                    }
                </td>
                <td>
                    <div class="td-controls-container">
                        <a asp-action="Update" asp-route-id="@product.Id" class="td-controls">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.333008 7C0.333008 6.42334 0.406341 5.86467 0.543674 5.33067C0.911985 5.35003 1.27848 5.26717 1.60263 5.09125C1.92679 4.91533 2.19599 4.65319 2.38048 4.33383C2.56496 4.01447 2.65755 3.65031 2.64799 3.28162C2.63844 2.91292 2.52712 2.55405 2.32634 2.24467C3.1323 1.45171 4.12687 0.876999 5.21634 0.574669C5.38367 0.903651 5.63877 1.17991 5.9534 1.37288C6.26803 1.56584 6.62992 1.66797 6.99901 1.66797C7.3681 1.66797 7.72999 1.56584 8.04462 1.37288C8.35925 1.17991 8.61435 0.903651 8.78168 0.574669C9.87115 0.876999 10.8657 1.45171 11.6717 2.24467C11.4707 2.5541 11.3592 2.91312 11.3496 3.28198C11.3399 3.65084 11.4325 4.01518 11.6171 4.33468C11.8017 4.65418 12.0711 4.91638 12.3955 5.09228C12.7198 5.26818 13.0865 5.35091 13.455 5.33134C13.5923 5.86467 13.6657 6.42334 13.6657 7C13.6657 7.57667 13.5923 8.13534 13.455 8.66934C13.0866 8.64984 12.7201 8.73261 12.3958 8.90848C12.0715 9.08435 11.8022 9.34647 11.6177 9.66585C11.4331 9.98524 11.3405 10.3495 11.35 10.7182C11.3595 11.087 11.4709 11.4459 11.6717 11.7553C10.8657 12.5483 9.87115 13.123 8.78168 13.4253C8.61435 13.0964 8.35925 12.8201 8.04462 12.6271C7.72999 12.4342 7.3681 12.332 6.99901 12.332C6.62992 12.332 6.26803 12.4342 5.9534 12.6271C5.63877 12.8201 5.38367 13.0964 5.21634 13.4253C4.12687 13.123 3.1323 12.5483 2.32634 11.7553C2.52735 11.4459 2.63883 11.0869 2.64845 10.718C2.65808 10.3492 2.56547 9.98483 2.38088 9.66533C2.19629 9.34583 1.92691 9.08362 1.60255 8.90772C1.27818 8.73182 0.911477 8.64909 0.543008 8.66867C0.406341 8.136 0.333008 7.57734 0.333008 7ZM3.53567 9C3.95567 9.72733 4.07567 10.564 3.91167 11.3493C4.18367 11.5427 4.47301 11.71 4.77634 11.8493C5.38745 11.3019 6.17922 10.9994 6.99967 11C7.83967 11 8.62501 11.314 9.22301 11.8493C9.52634 11.71 9.81567 11.5427 10.0877 11.3493C9.9193 10.5466 10.0532 9.71005 10.4637 9C10.8734 8.28958 11.531 7.75544 12.3103 7.5C12.3412 7.16738 12.3412 6.83262 12.3103 6.5C11.5308 6.24471 10.8729 5.71055 10.463 5C10.0525 4.28996 9.91863 3.45336 10.087 2.65067C9.81509 2.45728 9.52559 2.28988 9.22234 2.15067C8.6114 2.69796 7.8199 3.00041 6.99967 3C6.17922 3.00057 5.38745 2.69811 4.77634 2.15067C4.47309 2.28989 4.1836 2.45729 3.91167 2.65067C4.08005 3.45336 3.94616 4.28996 3.53567 5C3.12592 5.71042 2.46833 6.24457 1.68901 6.5C1.65818 6.83262 1.65818 7.16738 1.68901 7.5C2.46858 7.7553 3.12643 8.28946 3.53634 9H3.53567ZM6.99967 9C6.46924 9 5.96053 8.78929 5.58546 8.41422C5.21039 8.03914 4.99967 7.53044 4.99967 7C4.99967 6.46957 5.21039 5.96086 5.58546 5.58579C5.96053 5.21072 6.46924 5 6.99967 5C7.53011 5 8.03882 5.21072 8.41389 5.58579C8.78896 5.96086 8.99967 6.46957 8.99967 7C8.99967 7.53044 8.78896 8.03914 8.41389 8.41422C8.03882 8.78929 7.53011 9 6.99967 9ZM6.99967 7.66667C7.17649 7.66667 7.34606 7.59643 7.47108 7.47141C7.5961 7.34638 7.66634 7.17681 7.66634 7C7.66634 6.82319 7.5961 6.65362 7.47108 6.5286C7.34606 6.40357 7.17649 6.33334 6.99967 6.33334C6.82286 6.33334 6.65329 6.40357 6.52827 6.5286C6.40325 6.65362 6.33301 6.82319 6.33301 7C6.33301 7.17681 6.40325 7.34638 6.52827 7.47141C6.65329 7.59643 6.82286 7.66667 6.99967 7.66667Z" fill="#30364D" />
                            </svg>
                        </a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="td-controls" onclick="return confirm('Вы уверены, что хотите удалить запись?')">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.66634 4.33334H12.333V13C12.333 13.1768 12.2628 13.3464 12.1377 13.4714C12.0127 13.5964 11.8432 13.6667 11.6663 13.6667H2.33301C2.1562 13.6667 1.98663 13.5964 1.8616 13.4714C1.73658 13.3464 1.66634 13.1768 1.66634 13V4.33334ZM2.99967 5.66668V12.3333H10.9997V5.66668H2.99967ZM4.99967 7.00001H6.33301V11H4.99967V7.00001ZM7.66634 7.00001H8.99967V11H7.66634V7.00001ZM3.66634 2.33334V1.00001C3.66634 0.823199 3.73658 0.65363 3.8616 0.528606C3.98663 0.403581 4.1562 0.333344 4.33301 0.333344H9.66634C9.84315 0.333344 10.0127 0.403581 10.1377 0.528606C10.2628 0.65363 10.333 0.823199 10.333 1.00001V2.33334H13.6663V3.66668H0.333008V2.33334H3.66634ZM4.99967 1.66668V2.33334H8.99967V1.66668H4.99967Z" fill="#777D98" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

@await Html.PartialAsync("_Page", Model.Pagination)