@using Juconda.Models.Account;
@model PersonalCabinetViewModel

@{
    // This is setting the property to Hahaha
    ViewBag.Title = "Hahaha";
}
@*<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post" asp-controller="Account" asp-action="PersonalCabinet">
					<span class="login100-form-title">
						Авторизация
					</span>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Я забыл
						</span>

						<a href="#" class="txt2">
							Логин / Пароль?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Войти
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Еще нет аккаунта?
						</span>

						<a asp-action="Register" class="txt3">
							Зарегистрироваться сейчас
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <div class="row">
                <div class="col-xs-4 indent">
                    <h1>Личный кабинет</h1>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="MainInfo" class="panel-collapse collapse in">
                    <div class="hold-form panel-body">
                        <div class="info-wrap">
                            <form action="#">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <label>Фамилия:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea disabled>@User?.Identity.Name</textarea>
                                        </div>


                                        <div class="col-xs-1">
                                            <label>Имя:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea disabled>@User?.Identity.IsAuthenticated</textarea>
                                        </div>


                                        <div class="col-xs-1">
                                            <label>Отчество:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea disabled>@Model.RememberMe</textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-1">
                                            <label>Телефон для обратной связи:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea class="iTooltip ittW4 ittH1" disabled ng-placeholder="validator.isInvalid('entity.mobilePhone')"></textarea>
                                            <input value="@Model.Password" kendo-masked-text-box k-mask="'0-000-000-00-00'"
                                                   style="width: 100%;" type="text"
                                                   class="form-control valTool" ng-model="mobilePhoneBind"
                                                   ng-readonly="isReadonly()">
                                        </div>


                                        <div class="col-xs-1">
                                            <label>Почта:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea class="iTooltip ittW4 ittH1" disabled ng-placeholder="validator.isInvalid('entity.email')"></textarea>
                                            <input type="text" class="form-control valTool" ng-model="emailBind"
                                                   ng-readonly="isReadonly()">
                                        </div>


                                        <div class="col-xs-1">
                                            <label>Должность:</label>
                                        </div>

                                        <div class="col-xs-2">
                                            <textarea class="iTooltip ittW4 ittH1" disabled ng-placeholder="validator.isInvalid('entity.position')"></textarea>
                                            <input type="text" class="form-control valTool" ng-model="positionBind"
                                                   ng-readonly="isReadonly()">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*﻿@model IEnumerable<Juconda.Models.Account.PersonalCabinetViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Продукты</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>



<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
            </ul>
        </nav>
    </div>
</section>*@